<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility Widget</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">

</head>
<body>
    <main id="main-content">
    <h1>Welcome to My Website</h1>
    <p>This page demonstrates a full-feature accessibility widget as per SkillBlend assignment.</p>
    <a href="#">Example Link</a>
    <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image" width="200px"height="200px">
    </main>
    
    {% include 'widget.html' %}
<script src="{% static 'js/script.js' %}"></script>      
</body>
</html>